@mixin flex() {
	display:flex;
    justify-content:center;
}
.Chart{
    @include flex();
    flex-direction:row;
}
.card{
    width:405px;
    height:530px;
    background-color:white;
    border: 1px solid #D5DCEC;
}
.userCard{
    padding-right:1.2%;
}
.cardDiv{
    padding-left:1.2%;
}

.miniCard{
    display:flex;
    align-items:center;
    flex-direction:Column;
    padding:35px 18px 15px 18px;
}
.mariapic{
    border-radius:50px;
}
.text{
    color:#444F73;
    font-weight:bold;
    font-size:18px;
    margin-top:4%;
}
.developer{
    color:#B8BABC;
    font-size:16px;
    margin-top:4%;
}
.paragraph{
    color:#444F73;
    word-wrap: break-word;
    padding-left:20px;
}
.button{
    padding:10px 20px 10px 20px;
    font-weight:bold;
    color:white;
    background-color:#464DE4;
    border-radius:5px;
}
.details{
    display:flex;
    flex-direction:Column;
}
.digit{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin-top:2%;
}
.firstRow{
    @include flex();
    width:100px;
    color:#4D4C4B;
    font-weight:bold;
    font-size:18px;
}
.secondRow{
    @include flex();
    width:100px;
    word-wrap: break-word;
}
.graphCard{
    padding:35px 19px 0px 18px;

    .product{
        color:#636363;
        font-weight:bold;
        font-size:22px;
    }
    .value{
        font-size:40px;
        font-weight:bold;
    }
}
.sales{
    @include flex();
    flex-direction:row;
}
.campaign{
    @include flex();
    align-items:center;
    width:300px;
    font-size:22px;
    font-weight:bold;
    color:#4D4C4B;
}
.totalSales{
    @include flex();
    align-items:center;
    width:300px;
}

@media screen and (max-width: 1024px) {
	.card{
        width:291px;
    }
}
@media screen and (max-width: 768px) {
	.card{
        width:215px;
    }
    .firstRow{
        width:50px;
    }
    .secondRow{
        width:50px;
    }
}
@media screen and (max-width: 540px) {
	.Chart{
        display:flex;
        flex-direction:Column !important;
        align-items:center;
    }
    .card{
        width:490px;
        height:582px;
        margin-top:5%;
    }
    .firstRow{
        width:100px;
    }
    .secondRow{
        width:100px;
    }
}
@media screen and (max-width: 414px) {
    .card{
        width:385px;
        height:515px;
        margin-top:5%;
    }
}
@media screen and (max-width: 375px) {
    .card{
        width:360px;
        margin-top:5%;
    }
}
@media screen and (max-width: 360px) {
    .card{
        width:340px;
        margin-top:5%;
    }
}
@media screen and (max-width: 320px) {
    .card{
        width:300px;
        margin-top:5%;
    }
}
@media screen and (max-width: 280px) {
    .card{
        width:270px;
        margin-top:5%;
    }
}