@mixin flex() {
	display:flex;
    flex-direction:row;
}
@mixin header() {
	display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    cursor: pointer;
    font-weight:bold;
    width:190px;
}
.menuBar{
    opacity:0;
}
.miniLogo{
    opacity:0;
    height:0px;
    width:0px;
}
.Navigationbar{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:1.2%;
}
.logoBar{
    @include flex();
    justify-content:space-between;
    
    .logo{
        height:30px;
        width:160px;
    }
}
.logoBar-icons{
    @include flex();
    .search{
        padding-top:7px;
        padding-right:20px;
        background-color:#F9F9FC;
        border-radius:50px;
    }
    .searchIcon{
        padding-left:20px;
        padding-right:20px;
        opacity:0.6;
    }
    .searchInput{
        border: none;
        background-color:#F9F9FC;
        outline: 0;
    }
    .notification{
        padding-left:20px;
        padding-right:20px;
        cursor: pointer;
    }
    .notificationCount{
        padding:0px 5px 0px 5px; 
        font-size:12px;
        margin-left:7px;
        color:white;
        background-color:#FF6F59;
        border-radius:50px;
    }
    .bellIcon{
        font-size:20px;
    }
    .avatar{
        border-radius:50px;
    }
}
.menu{
    @include flex();
    
    .dashboard{
        @include header();
        background-color: #734ef9;
        color: white;
    }
    &-item{
        @include header();
        background-color: #F9F9FC;

        &-icon {
            color: white;
            margin-right: 10px;
        }
    }
    &-item:hover{
        background-color:#F2F2F9;
    }
    .menuIcon{
        color: #564DE4;
        margin-right: 10px;
    }
}
@media screen and (max-width: 1024px) {
    .Navigationbar{
        margin-top:4%;
    }
    .dashboard{
        width:120px;
    }
    .menu-item{
        width:120px;
    }
}
@media screen and (max-width: 768px) {
    .Navigationbar{
        margin-top:4%;
    }
    .dashboard{
        width:70px;
    }
    .menu-item{
        width:70px;
    }
}
@media screen and (max-width: 540px) {
    .menu{
        display:none;
    }
    .logoBar{
        width:470px;
    }
    .logo{
        display:none;
    }
    .menuIcon{
        display:visible;
        height:0px;
        width:0px;
    }
    .searchInput{
        padding-left:0px;
        padding-right:0px;
        width:80px;
    }
    .miniLogo{
        opacity:1;
        height:40px;
        width:100px;
    }
    .menuBar{
        opacity:0.8;
        margin-top:2%;
    }
    .notification{
        padding:0px 4px 0px 4px !important;
    }
}
@media screen and (max-width:414px) {
    .logoBar{
        width:390px;
    }
}
@media screen and (max-width:360px) {
    .logoBar{
        width:350px;
    }
}
@media screen and (max-width: 320px) {
    .logoBar{
        width:300px;
    }
}
@media screen and (max-width: 280px) {
    .logoBar{
        width:280px;
    }
}