.userfeed{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    padding-top:1.5%;

    .firstFeed{
        width:630px;;
    }
    .feedColumn{
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content:center;
        background-color:white;
        width:100%;
        max-width:313px;
        height:130px;
        border: 1px solid #D5DCEC;
    }
    .icons{
        height:40px;
        width:50px;
    }
    .users{
        display: flex;
        flex-direction:column;
        padding-left:15px;
    }
    .data{
        font-size:26px;
        font-weight:bold;
        color:#3B466C;
    }
}
.firstFeed{
    display:flex;
    flex-direction:row;
}

@media screen and (max-width:1024px) {
    .firstFeed{
        width:455px !important;
    }
	.feedColumn{
        width:260px !important;
    }
}
@media screen and (max-width:768px) {
    .firstFeed{
        width:335px !important;
    }
	.feedColumn{
        width:200px !important;
    }
}
@media screen and (max-width:540px) {
    .firstFeed{
        width:500px !important;
        display: flex;
        justify-content:center;
        align-items:center;
    }
	.feedColumn{
        width:280px !important;
        height:180px !important;
        padding:0px 15px 0px 15px;
        display: flex;
        flex-direction:column !important;
    }
    .userfeed{
        display: flex;
        flex-direction:column;
    }
}

@media screen and (max-width:414px) {
    .firstFeed{
        width:400px !important;
    }
	.feedColumn{
        width:200px !important;
        padding:0px 10px 0px 10px;
    }
}
@media screen and (max-width:375px) {
    .firstFeed{
        width:370px !important;
    }
}
@media screen and (max-width:360px) {
    .firstFeed{
        width:350px !important;
    }
}
@media screen and (max-width:320px) {
    .firstFeed{
        width:310px !important;
    }
}
@media screen and (max-width:280px) {
    .firstFeed{
        width:275px !important;
    }
}